<article class="login__section">
  <section>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="!userRegistering ? loginUser() : registerUser()"
    >
      <div>
        <input
          type="email"
          placeholder="test@test.com"
          formControlName="email"
        />
        <input type="password" placeholder="test" formControlName="password" />
        <ng-container *ngIf="userRegistering">
          <ng-container *ngFor="let inputControl of registrationControls">
            <input
              type="text"
              [placeholder]="inputControl.placeHolder"
              [formControlName]="inputControl.controlName"
            />
          </ng-container>
        </ng-container>
      </div>
      <div>
        <input type="submit" value="Submit" [disabled]="loginForm.invalid" />
      </div>
    </form>
  </section>
  <section>
    <small *ngIf="!userRegistering">
      Don't have account?
      <strong (click)="isUserRegistering()">Register</strong>
    </small>
    <small *ngIf="userRegistering">
      Already have an account?
      <strong (click)="isUserRegistering()">Login</strong>
    </small>
  </section>
  <section class="oauth__providers">
    <img
      src="/assets/images/icons8-google.svg"
      alt="Google Login"
      (click)="loginWithGoogle()"
    />
  </section>
</article>
